@tailwind base;
@tailwind components;
@tailwind utilities;

.burger__line-first {
  top: 0;
}

.burger__line-second, .burger__line-third {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line-fourth {
  bottom: 0;
}

.burger__active .burger__line-first, .burger__active .burger__line-fourth {
  opacity: 0;
}

.burger__active .burger__line-second {
  transform: translateY(-50%) rotate(45deg)
}

.burger__active .burger__line-third {
  transform: translateY(-50%) rotate(-45deg)
}

.header__burger-menu {
  transform: translateX(-100%);
  transition: 0.5s;
}

.menu__active {
  transform: translateX(0%);
  transition: 0.5s;
}

/* Swiper */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.header__img {
  width: 50%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.gallery__block:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2b5d8e;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
}
