@import __settings

.text-blue
  color: $blue

.btn-black
  border: 2px solid $black
  border-radius: 0.5rem
  font-family: "NotoSans-Bold"
  text-decoration: none
  padding: 2.1rem 5.5rem
  font-size: 3rem
  letter-spacing: 0.05em
  background-color: $black
  color: $white
  &:hover
    background-color: $blue
    border: 2px solid $blue
    transition: .4s
  
.btn-white
  margin-left: 4.5rem
  border: 2px solid $black
  cursor: pointer
  border-radius: 0.5rem
  font-family: "NotoSans-Bold"
  text-decoration: none
  padding: 2.1rem 5.5rem
  font-size: 3rem
  letter-spacing: 0.05em
  background-color: $white
  color: $black
  &:hover
    border: 2px solid $white
    color: $blue
    transition: .4s