.container {
  max-width: 128.3rem;
  margin: 0 auto;
  width: 85%;
}

@font-face {
  font-family: 'TenorSans';
  src: url("../fonts/TenorSans.woff2") format("woff2");
  src: url("../fonts/TenorSans.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/NotoSans.woff2") format("woff2");
  src: url("../fonts/NotoSans.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url("../fonts/NotoSans-Bold.woff2") format("woff2");
  src: url("../fonts/NotoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
