.container {
  max-width: 128.3rem;
  margin: 0 auto;
  width: 90%;
}

@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url("../fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url("../fonts/CenturyGothic.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
