.container
  max-width: 140rem
  margin: 0 auto
  width: 90%  

=media($width)
  @media screen and (max-width: $width)
    @content 

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
  
// Сolors

// $dark-blue: #020c1b
// $light-blue: #112240
$blue: #98cbed
$white: #fff
$black: #000
$otherBlack: #1a181c
$gray: #aaa9aa

// Fonts

@font-face 
  font-family: 'CenturyGothic-Bold'
  src : url('../fonts/CenturyGothic-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face 
  font-family: 'CenturyGothic'
  src : url('../fonts/CenturyGothic.woff') format('woff')
  font-weight: bold
  font-style: normal
  font-display: swap
