html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

.container {
  max-width: 128.3rem;
  margin: 0 auto;
  width: 90%;
}

@font-face {
  font-family: 'TenorSans';
  src: url("../fonts/TenorSans.woff2") format("woff2");
  src: url("../fonts/TenorSans.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/NotoSans.woff2") format("woff2");
  src: url("../fonts/NotoSans.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url("../fonts/NotoSans-Bold.woff2") format("woff2");
  src: url("../fonts/NotoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper__block {
  -webkit-box-shadow: 0px 0px 10px rgba(64, 108, 142, 0.4);
          box-shadow: 0px 0px 10px rgba(64, 108, 142, 0.4);
  border-radius: 0.5rem;
  padding: 4rem 1rem 1rem 4rem;
}

.swiper__block-next {
  margin-top: 1.7rem;
  text-align: right;
  font-size: 1.5rem;
  color: #aaa9aa;
}

.swiper-slide {
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: left;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide__text {
  font-size: 2rem;
  line-height: 160%;
  position: relative;
}

.swiper-slide__text::before {
  content: '';
  display: block;
  position: absolute;
  top: 1rem;
  left: -2rem;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #98cbed;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 128.3rem;
  margin: 0 auto;
  width: 90%;
}

@font-face {
  font-family: 'TenorSans';
  src: url("../fonts/TenorSans.woff2") format("woff2");
  src: url("../fonts/TenorSans.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/NotoSans.woff2") format("woff2");
  src: url("../fonts/NotoSans.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url("../fonts/NotoSans-Bold.woff2") format("woff2");
  src: url("../fonts/NotoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.text-blue {
  color: #98cbed;
}

@media screen and (max-width: 768px) {
  .br-none {
    display: none;
  }
}

.content-blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.btn-black {
  border: 2px solid #000;
  border-radius: 0.5rem;
  font-family: "NotoSans-Bold";
  text-decoration: none;
  padding: clamp(1.5rem, calc(1.5rem + ((1vw - 0.36rem) * 0.3247)), 2rem) clamp(2.2rem, calc(2.2rem + ((1vw - 0.36rem) * 2.2078)), 5.6rem);
  font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.36rem) * 0.974)), 3rem);
  letter-spacing: 0.05em;
  background-color: #000;
  cursor: pointer;
  color: #fff;
}

.btn-black:hover {
  background-color: #98cbed;
  border: 2px solid #98cbed;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-white {
  cursor: pointer;
  margin-left: clamp(3rem, calc(3rem + ((1vw - 0.36rem) * 0.974)), 4.5rem);
  border: 2px solid #000;
  border-radius: 0.5rem;
  font-family: "NotoSans-Bold";
  text-decoration: none;
  padding: clamp(1.5rem, calc(1.5rem + ((1vw - 0.36rem) * 0.3247)), 2rem) clamp(2.2rem, calc(2.2rem + ((1vw - 0.36rem) * 2.2078)), 5.6rem);
  font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.36rem) * 0.974)), 3rem);
  letter-spacing: 0.05em;
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 768px) {
  .btn-white {
    margin-left: 0;
  }
}

.btn-white:hover {
  border: 2px solid #fff;
  color: #98cbed;
  -webkit-transition: .4s;
  transition: .4s;
}

.header__burger {
  display: none;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: 0.3rem solid #000;
}

@media screen and (max-width: 768px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 150;
  }
}

.header__burger-btn {
  width: 2.2rem;
  height: 0.3rem;
  background-color: #000;
  border-radius: 0.5rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header__burger-btn::before, .header__burger-btn::after {
  content: '';
  position: absolute;
  width: 2.2rem;
  height: 0.3rem;
  background-color: #000;
  border-radius: 0.5rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header__burger-btn::before {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.header__burger-btn::after {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.header__burger.open .header__burger-btn {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  background: transparent;
}

.header__burger.open .header__burger-btn::before {
  -webkit-transform: rotate(45deg) translate(28px, -28px);
          transform: rotate(45deg) translate(28px, -28px);
}

.header__burger.open .header__burger-btn::after {
  -webkit-transform: rotate(-45deg) translate(28px, 28px);
          transform: rotate(-45deg) translate(28px, 28px);
}

.burger-nenu {
  position: relative;
}

.burger-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20rem 4rem;
  position: fixed;
  width: 75%;
  height: 100%;
  background-color: #fff;
  top: 0rem;
  right: -75%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 100;
}

.burger-menu__list.show {
  right: 0;
  -webkit-box-shadow: -6px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: -6px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.burger-menu__link {
  font-family: "NotoSans";
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: #000;
}

.burger-menu__link:not(:first-child) {
  margin-top: 5rem;
}

.dot {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #98cbed;
  border-radius: 50%;
}

@media screen and (max-width: 1430px) {
  .dot {
    display: none;
  }
}

.gradient {
  height: 45rem;
  z-index: 10;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(55%, #fff), to(rgba(125, 185, 232, 0)));
  background: linear-gradient(to top, #fff 55%, rgba(125, 185, 232, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=0 );
}

@media screen and (max-width: 1024px) {
  .gradient {
    height: 15rem;
  }
}

.header {
  position: relative;
}

.header__menu {
  padding: clamp(2rem, calc(2rem + ((1vw - 0.36rem) * 1.2987)), 4rem) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .header__menu {
    padding-bottom: 0;
  }
}

.header__logo {
  font-size: 5rem;
  font-family: "TenorSans";
  color: #000;
  text-decoration: none;
  width: clamp(10rem, calc(10rem + ((1vw - 0.36rem) * 8.4416)), 23rem);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-left: 7rem;
  font-family: "TenorSans";
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.header__nav-link {
  font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.36rem) * 0.974)), 3rem);
  text-decoration: none;
  color: #000;
}

.header__nav-link:hover {
  color: #98cbed;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__swiper {
  display: none;
  font-family: "NotoSans";
  margin-top: 4rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
  .header__swiper {
    display: block;
  }
}

.header__wrap {
  padding-bottom: clamp(5rem, calc(5rem + ((1vw - 0.36rem) * 3.5714)), 10.5rem);
}

.header__title {
  font-size: clamp(3rem, calc(3rem + ((1vw - 0.36rem) * 2.5974)), 7rem);
  font-family: "NotoSans-Bold";
  font-weight: 900;
  line-height: clamp(3.6rem, calc(3.6rem + ((1vw - 0.36rem) * 3.1818)), 8.5rem);
  letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
  .header__title {
    text-align: center;
  }
}

.header__description {
  margin-top: clamp(1.5rem, calc(1.5rem + ((1vw - 0.36rem) * 2.9221)), 6rem);
  font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.36rem) * 0.974)), 3rem);
  font-family: "TenorSans";
  line-height: clamp(1.7rem, calc(1.7rem + ((1vw - 0.36rem) * 1.1688)), 3.5rem);
  letter-spacing: 0.05em;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .header__description {
    text-align: center;
  }
}

.header__buttons {
  margin-top: clamp(2rem, calc(2rem + ((1vw - 0.36rem) * 3.2468)), 7rem);
}

@media screen and (max-width: 768px) {
  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }
}

.header__advantages {
  margin-top: clamp(5rem, calc(5rem + ((1vw - 0.36rem) * 6.1688)), 14.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .header__advantages {
    display: none;
  }
}

.header__advantages-block {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  border-radius: 0.5rem;
  padding: clamp(2rem, calc(2rem + ((1vw - 0.36rem) * 1.6234)), 4.5rem) 0 clamp(2rem, calc(2rem + ((1vw - 0.36rem) * 1.6234)), 4.5rem) clamp(2rem, calc(2rem + ((1vw - 0.36rem) * 1.6234)), 4.5rem);
  width: 36rem;
  background-color: #fff;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-box-shadow: 0px 0px 10px rgba(64, 108, 142, 0.4);
          box-shadow: 0px 0px 10px rgba(64, 108, 142, 0.4);
}

.header__advantages-block:not(:first-child) {
  margin-left: clamp(1rem, calc(1rem + ((1vw - 0.36rem) * 4.2208)), 7.5rem);
}

.header__advantages-block:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #98cbed;
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(64, 108, 142, 0.4);
          box-shadow: 0px 0px 10px rgba(64, 108, 142, 0.4);
}

.header__advantages-block:hover .header__advantages-text::before {
  background-color: #fff;
}

.header__advantages-text {
  font-size: clamp(1rem, calc(1rem + ((1vw - 0.36rem) * 0.974)), 2.5rem);
  font-family: "NotoSans";
  position: relative;
}

.header__advantages-text::before {
  content: '';
  display: block;
  position: absolute;
  top: 1rem;
  left: -2rem;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #98cbed;
}

.header__image {
  z-index: -10;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .header__image {
    display: none;
  }
}

.header__image img {
  height: clamp(45rem, calc(45rem + ((1vw - 0.36rem) * 25.974)), 85rem);
}

.header__mobile-img img {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__mobile-img img {
    display: block;
    width: 100%;
    margin-bottom: -4rem;
  }
}

.acquaintance__wrap {
  padding: clamp(8rem, calc(8rem + ((1vw - 0.36rem) * 1.2987)), 10rem) 0;
}

.acquaintance__title {
  text-align: center;
  font-family: "NotoSans-Bold";
  text-transform: uppercase;
  font-weight: 900;
  font-size: clamp(3rem, calc(3rem + ((1vw - 0.36rem) * 1.9481)), 6rem);
  line-height: 4rem;
}

.acquaintance__movie {
  margin-top: clamp(5rem, calc(5rem + ((1vw - 0.36rem) * 6.4935)), 15rem);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.acquaintance__circle-big {
  position: relative;
}

@media screen and (max-width: 1024px) {
  .acquaintance__circle-big svg {
    width: 32rem;
    height: 32rem;
  }
}

.acquaintance__circle-small {
  position: absolute;
  top: 13.5rem;
  left: 13.5rem;
}

@media screen and (max-width: 1024px) {
  .acquaintance__circle-small {
    top: 5rem;
    left: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .acquaintance__circle-small svg {
    width: 22rem;
    height: 22rem;
  }
}

.acquaintance__dot1 {
  position: absolute;
  top: 35rem;
}

.acquaintance__dot2 {
  position: absolute;
  top: 15rem;
  left: 9rem;
}

.acquaintance__dot4 {
  position: absolute;
  top: 15rem;
  right: 9rem;
}

.acquaintance__dot3 {
  position: absolute;
  top: 3.3rem;
  left: 24rem;
}

.acquaintance__dot5 {
  position: absolute;
  top: 35rem;
  right: 0;
}

.acquaintance__note {
  position: absolute;
  top: 20rem;
  left: 7.6rem;
  z-index: 50;
}

@media screen and (max-width: 1024px) {
  .acquaintance__note {
    top: 6rem;
    left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .acquaintance__note-img img {
    width: 31rem;
  }
}

.acquaintance__description {
  position: absolute;
  top: 3.5rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1430px) {
  .acquaintance__description {
    display: none;
  }
}

.acquaintance__description-mobile {
  display: none;
}

@media screen and (max-width: 1430px) {
  .acquaintance__description-mobile {
    padding: 0 2rem;
    margin-top: -15rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: clamp(3rem, calc(3rem + ((1vw - 0.36rem) * 4.5455)), 10rem);
            column-gap: clamp(3rem, calc(3rem + ((1vw - 0.36rem) * 4.5455)), 10rem);
    row-gap: clamp(2.5rem, calc(2.5rem + ((1vw - 0.36rem) * 0.974)), 4rem);
  }
}

@media screen and (max-width: 1024px) {
  .acquaintance__description-mobile {
    margin-top: -2rem;
  }
}

.acquaintance__description-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.acquaintance__description-bottom {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 67rem;
          column-gap: 67rem;
  row-gap: 20rem;
}

.acquaintance__description-text {
  color: #aaa9aa;
  line-height: 2rem;
  font-family: "NotoSans";
  font-size: clamp(1rem, calc(1rem + ((1vw - 0.36rem) * 0.6494)), 2rem);
}

@media screen and (max-width: 1430px) {
  .acquaintance__description-text {
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.36rem) * 1.2987)), 3rem);
    z-index: 50;
    line-height: clamp(1rem, calc(1rem + ((1vw - 0.36rem) * 1.9481)), 4rem);
  }
}

.acquaintance__wrap-text {
  width: 33rem;
}
/*# sourceMappingURL=main.css.map */