@tailwind base;
@tailwind components;
@tailwind utilities;

.burger__line-first {
  top: 0;
}

.burger__line-second, .burger__line-third {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line-fourth {
  bottom: 0;
}

.burger__active .burger__line-first, .burger__active .burger__line-fourth {
  opacity: 0;
}

.burger__active .burger__line-second {
  transform: translateY(-50%) rotate(45deg)
}

.burger__active .burger__line-third {
  transform: translateY(-50%) rotate(-45deg)
}

.header__burger-menu {
  transform: translateX(-100%);
  transition: 0.5s;
}

.menu__active {
  transform: translateX(0%);
  transition: 0.5s;
}