<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://novaguild.io/assets/templates/main/css/vendor.css?t=" rel="stylesheet">
  <link href="https://novaguild.io/assets/templates/main/css/base.css?t=" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- ДОБАВИЛ -->
  <div class="middle">
    <div class="body-bg bg1"></div>

    <div class="container pt-5 pb-5 pb-lg-6 pb-xl-7">
      <div class="row">
        <div class="col-12">
          <div class="page-content">
  <!-- ДОБАВИЛ -->
            <div class="wrpapper container-fluid converter">
              <form v-if="!formSubmited">
                <div class="row">
                  <div class="col-md-8">
                    <h2>Welcome to Coinfluence</h2>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label" for="noOfTOkens"
                          v-text="i18n.lang_numberUsd"
                          ></label>
                          <input type="number" v-model.number="fields.amount" v-bind.value="finalamount" class="form-control form-input font-weight-bold" id="noOfTOkens"
                            name="noOfTOkens" min="0.00" autocomplete="off">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label"
                          v-text="i18n.lang_totalMAT"
                          ></label>
                          <input class="form-control font-weight-bold" type="disabled" autocomplete="off" disabled
                          v-model="fields.total"
                          >
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-label" for="bnbAddress" v-text="i18n.lang_address"></label>
                          <input class="form-control" type="text" id="bnbAddress" name="bnbAddress"
                            v-bind:placeholder="i18n.lang_placeholder" autocomplete="off"
                            v-model="fields.address">
                        </div>
                      </div>
                      <div class="col-md-6 mt-3 d-none d-md-block">
                        <button type="button" class="btn btn-primary w-100"
                        v-on:click="resetForm"
                        v-text="i18n.lang_btnReset"
                        ></button>
                      </div>
                      <div class="col-md-6 mt-3 d-none d-md-block">
                        <button type="button" class="btn btn-primary w-100"
                        @click.prevent="lastForm()"
                        v-text="i18n.lang_btnByNow"
                        ></button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="order-summary__card p-5 bg-white text-dark rounded font-weight-bold">
                      <h2 class="order-summary__title"
                      v-text="i18n.lang_summary"
                      ></h2>
                      <div class="order-summary__item mt-2">
                        <span class="order-summary__field mr-3"
                        v-text="i18n.lang_rate"
                        ></span>
                        <span class="order-summary__value"
                        v-text="i18n.lang_token"
                        ></span>
                      </div>
                      <div class="order-summary__item mt-2">
                        <span class="order-summary__field mr-3" 
                        v-text="i18n.lang_totalUSD"
                        ></span>
                        $<span class="order-summary__value" v-text="fields.amount"></span>
                      </div>
                      <div class="order-summary__item mt-2">
                        <span class="order-summary__field mr-3" v-text="i18n.lang_payment"></span>
                        <span class="order-summary__value" v-text="i18n.lang_payMethod"></span>
                      </div>
                      <div class="order-summary__item mt-2">
                        <span class="order-summary__field mr-3" v-text="i18n.lang_totalMATIC"></span>
                        <span class="order-summary__value" v-text="fields.total"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mt-3 d-md-none">
                    <button type="button" class="btn btn-primary w-100"
                    v-on:click="resetForm"
                    v-text="i18n.lang_btnReset"
                    ></button>
                  </div>
                  <div class="col-md-6 mt-3 d-md-none">
                    <button class="btn btn-primary w-100"
                    v-text="i18n.lang_btnByNow"
                    @click.prevent="lastForm()"
                    ></button>
                  </div>
                </div>
                <p class="order-summary__errors pt-3 pl-2 rounded w-75 font-weight-bold text-danger text-md-center"
                v-text="error"
                ></p>
              </form>
              <!-- CONVERTER FORM -->
              <div class="order-table" v-else>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <h2 v-text="i18n.lang_title2"></h2>
                      <table class="table bg-white table-bordered mt-3 font-weight-bold p-5">
                        <tr>
                          <td v-text="i18n.lang_numberUsd"></td>
                          <td v-text="fields.amount"></td>
                        </tr>
                        <tr>
                          <td v-text="i18n.lang_depAdress"></td>
                          <td v-text="fields.address"></td>
                        </tr>
                        <tr>
                          <td v-text="i18n.lang_currency"></td>
                          <td v-text="i18n.lang_curValue"></td>
                        </tr>
                        <tr>
                          <td v-text="i18n.lang_payment"></td>
                          <td v-text="i18n.lang_payMethod"></td>
                        </tr>
                        <tr class="bg-success">
                          <td v-text="i18n.lang_totalMATIC"></td>
                          <td v-text="fields.total"></td>
                        </tr>
                      </table>
                      <!-- /.table -->
                      <div class="col-md-6">
                        <button class="btn btn-primary w-100 my-2"
                        v-on:click="backForm"
                        v-text="i18n.lang_btnBack"
                        ></button>
                      </div>
                      <div class="col-md-6">
                        <button type="submit" class="btn btn-primary w-100 my-2"
                        v-text="i18n.lang_btnConf"
                        ></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- ДОБАВИЛ -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ДОБАВИЛ -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="./js/main.js"></script>
</body>

</html>