@import __base
@import __settings
@import __swiper

// Header
.header
  height: 100vh
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/header.png') 
  background-size: cover
  background-position: center center
  background-attachment: fixed
  font-family: 'Montserrat-Regular'
  +media(1024px)
    height: 120rem
  &__menu
    padding: 5rem 0
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    font-size: 4rem
    color: $white
  &__links
    padding: 1rem
    width: 55%
    display: flex
    justify-content: space-around 
    +media(1024px)
      width: 65%
    +media(768px)
      position: absolute
      left: 0
      display: none
      flex-direction: column
      background-color: $yellow
      text-align: center
      top: 15rem
      margin: 0 auto
      width: 100%
      border-radius: 1rem
  &__link
    font-family: 'Montserrat-Bold'
    cursor: pointer
    color: $white
    font-size: 1.8rem
    position: relative
    transition: all 0.6s
    &:before
      content: ""
      width: 0
      height: 0.1em
      position: absolute
      bottom: 0
      left: 50%
      background: $yellow
      transition: all 0.3s
    &:hover 
      &:before 
        width: 100%
        left: 0
        background: $yellow 
    +media(1024px)
      font-size: 1.5rem
    +media(768px)
      font-family: 'Montserrat-Bold'
      margin-top: 3.5rem
      font-size: 3.5rem
      color: $black  
  &__contacts
    display: flex
    flex-direction: column
    text-align: center
    +media(768px)
      display: none
  &__telephone
    font-family: 'Montserrat-Medium'
    color: $white
    text-decoration: none
    font-size: 3rem
    +media(1024px)
      font-size: 2.5rem
      white-space: nowrap
  &__bell
    padding: 2rem
    font-size: 2rem
    color: $yellow
    white-space: nowrap
    +media(1024px)
      font-size: 1.8rem
  &__active
    display: none
    +media(768px)
      display: flex
      align-items: center 
  &__phone
    margin-right: 2rem         
  &__burger
    cursor: pointer
  .line
    width: 2.5rem
    height: 2px
    margin: 5px
    background-color: $white
    transition: all .4s ease      
  .display
    display: flex
  &__content
    padding: 6rem 0
    display: flex
    justify-content: space-between
    +media(1024px)
      flex-direction: column
      padding: 0   
  &__details
    font-family: 'Montserrat-Bold'
    text-decoration: none
    font-size: 3rem
    color: $yellow
    position: relative
    +media(1024px)
      display: none
    &:before
      content: ""
      width: 0
      height: 0.1em
      position: absolute
      bottom: 0
      left: 50%
      background: $yellow
      transition: all 0.3s
    &:hover
      cursor: pointer
      &:before 
        width: 100%
        left: 0
        background: $yellow 
  &__text
    margin-right: 2rem
    max-width: 70rem
    +media(1024px)
      padding: 3rem 0
      margin: 0 auto
      text-align: center
      max-width: 70rem
  &__title
    color: $white
    font-size: 7rem
    font-family: 'Montserrat-Bold'
    +media(1280px)
      font-size: 6rem
    +media(414px)
      font-size: 5rem
    +media(320px)
      font-size: 4rem 
  &__title-yellow
    color: $yellow       
  &__description
    margin: 7rem 0
    font-size: 2rem
    color: $white
    line-height: 1.5
    +media(1280px)
    +media(768px)
      margin-top: 6rem  
  &__form
    height: 45rem
    display: flex
    flex-direction: column
    max-width: 45rem
    padding: 7rem 5rem
    background-color: $white
    border-radius: 2rem
    +media(1024px)
      margin: 0 auto
    +media(414px)
      padding: 3rem
      height: 38rem   
    &-title
      font-family: 'Montserrat-Bold'
      font-size: 2.5rem
      user-select: none
    &-input
      font-family: 'Montserrat-Medium'
      margin-top: 2rem
      padding: 1.5rem 0
      font-size: 1.7rem
      background-color: $white
      border-bottom-color: $gray
      border-top: none
      border-right: none
      border-left: none
      outline: none
    &-btn
      margin-top: 2rem
      font-family: 'Montserrat-Bold'
      cursor: pointer
      background-color: $yellow
      outline: none
      border: none
      border-radius: 1rem
      padding: 1.5rem 0
      font-size: 1.5rem
      transition: 0.4s
      &:hover
        background-color: $black
        color: $yellow  
  .label
    font-family: 'Montserrat-Medium'
    margin-top: 2rem
    display: flex
    align-items: center
    font-size: 1.4rem
    user-select: none
  .checkbox
    display: none
    &__text
      margin-left: 1rem
      white-space: nowrap
      +media(667px)
        white-space: normal
      +media(414px)
        font-size: 1.3rem   
  .fake
    cursor: pointer
    display: block
    user-select: none
    width: 2rem
    height: 2rem
    border: 2px solid $black
    border-radius: 3px
    position: relative
    &::before
      content: '\2714'
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      opacity: 0
      transition: .2s
  .checkbox:checked + .fake::before
    opacity: 1

// Service

.title
  font-family: 'Montserrat-Bold'
  font-size: 3.5rem
  text-align: center
  &-white
    color: $white
  +media(540px)
    font-size: 2.5rem
.service
  font-family: 'Montserrat-Regular'
  padding: 8rem 0
  &__wrap
    padding: 8rem 0
    display: flex
    justify-content: space-around
    align-items: center
    +media(930px)
      flex-direction: column 
  &__img
    max-width: 50%
    margin-right: 3rem
    +media(930px)
      display: none
  &__job
    display: flex
    align-items: center
  &__arrow
    margin-right: 5rem
    +media(540px)
      margin-right: 2rem  
  &__job-text
    margin: 3rem 0
    font-size: 3rem
    +media(1400px)
      font-size: 2rem
    +media(1024px)
      margin: 2rem 0
    +media(930px)
      font-size: 3rem
    +media(667px)
      font-size: 2rem      
  &__advantages
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
  &__advantage
    margin: 2rem 0
    width: 25rem
    text-align: center
  &__circle
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: center
    background-color: $black
    border-radius: 50%
    height: 10rem
    width: 10rem
  &__advantage-title
    font-family: 'Montserrat-Bold'
    margin-top: 2rem
    font-size: 2rem

// Projects
.projects
  padding: 10rem 0
  background-color: $black

// Comments
.comments
  height: 100vh
  padding: 10rem 0
.comment
  &__text
    font-family: 'Montserrat-Medium'
    width: 60%
    text-align: center
    margin: 0 auto
    font-size: 1.5rem 

// Questions
.questions
  padding: 9rem 0
  background-color: $black
  &__wrap
    margin-top: 9rem
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    +media(1522px)
      justify-content: center
    +media(414px)
      text-align: center  
  &__image
    margin: 1rem
    max-width: 45rem 
    +media(1522px)
      margin: 5rem 0 0 0 
    +media(414px)
      margin: 5rem 0    
  &__image img
    width: 100%
    height: 60rem
    border-radius: 1rem
    +media(414px)
      height: 50rem  
.accordion
  &__trigger
    max-width: 90rem
    cursor: pointer
    margin: 2rem 0 0 0
    font-family: 'Montserrat-Bold'
    padding: 3rem 1rem
    color: $white
    font-size: 2rem
    border-bottom: 2px solid $yellow
    &:hover
      background-color: $white
      color: black
      transition: 0.6s
      border-radius: 1rem
      border-bottom: 2px solid $white
  &__content
    max-width: 90rem
    padding: 2rem 1rem
    margin-top: 1rem
    border-radius: 1rem
    font-family: 'Montserrat-Medium'
    display: none
    background-color: $white
    font-size: 1.6rem             






    

                



    

